@font-face {
    font-family: tajawal-regular;
    src: url(Tajawal-Regular.ttf);
  }
  @font-face {
    font-family: tajawal-bold;
    src: url(Tajawal-Bold.ttf);
  }
*{
    font-family: 'tajawal-regular';
    font-size: 20px;
}
#main-section{
    position: relative;
    width: 100%;
    height: 390px;
    background: url('background2.jpg') rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    margin-bottom: 20px;
}
#main-section .overlay{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: #396afc;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2948ff, #396afc);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2948ff, #396afc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: .3;
    overflow: hidden;
}
#main-section .container{
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    z-index: 111;
    padding-top: 90px;
    font-family: tajawal-regular;
}
#main-section .container h2{
    color: white;
    font-family: tajawal-bold;
}
.line{
    width: 80px;
    border: 0;
    border-bottom: 5px solid #55efc4;
    position: relative;
    top: 0px;
    left: 0;
    margin: 10px 0;
}
#main-section .container p{
    font-size: 20px;
}
.register-btn{
    background-color: #55efc4;
    border-radius: 4px;
    padding: 5px 30px;
    font-size: 20px;
}
.register-btn:hover{
    background-color: #00b894;
    padding: 5px 40px;
}

#features .box{
    padding: 10px 40px;
    color: #1e3799;
    box-shadow: 1px 1px 7px silver;
    height: auto;
    min-height: 550px;
    margin-bottom: 20px;
    transition: all .3s ease-in-out;
}
#features .box:hover{
    box-shadow: 1px 1px 7px #1e3799;
}
#features .container{
    text-align: center;
    padding: 30px;
}
#video{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('background4.jpg');
    background-blend-mode: multiply;
    background-position: right;
    background-size: cover;
    overflow: hidden;
    margin-bottom: 20px;
    padding: 20px 0;
    z-index: 100;
}
#video .container{
    position: relative;
    top: 0;
    left: 0;
    color: white;
    z-index: 111;
    font-family: tajawal-regular;
}
#video .video-overlay{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: #396afc;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2948ff, #396afc);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2948ff, #396afc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: .3;
    overflow: hidden;
}
#video .container{
    margin-top: 20px;
}
#targets .box{
    padding: 10px 40px;
    color: #1e3799;
    border: 1px solid #4a69bd;
    border-radius: 6px;
    min-height: 420px;
    height: auto;
    margin-bottom: 20px;
}
#targets .container{
    text-align: center;
    padding: 30px;
}
#details{
    padding: 20px;
}
#register{
    position: relative;
    width: 100%;
    height: 250px;
    background: url('background3.jpg') rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    font-weight: bold;
}
#register .overlay{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: #396afc;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2948ff, #396afc);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2948ff, #396afc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: .4;
    overflow: hidden;
}
#register .container{
    position: relative;
    top: 70px;
    left: 0;
    color: white;
    z-index: 111;
    font-family: tajawal-regular;
    text-align: center;
    color: white;
    width: 100%;
}
#footer{
    background-color: #f5f6fa;
    text-align: center;
    color: #363636;
}


@media (max-width: 768px) { 
    #main-section{
        height: auto;
        min-height: 200px !important;
        padding-bottom: 20px;
    }
    #main-section .container{
    position: relative;
    top: 0;
    left: 0;
    color: white;
    z-index: 111;
    padding-top: 100px;
    margin-bottom: 20px;
    font-family: tajawal-regular;
    }
    #video{
        position: relative;
        width: 100%;
        height: auto;
        background: url('background4.jpg');
        background-blend-mode: multiply;
        background-position: right;
        background-size: cover;
        overflow: hidden;
        margin-bottom: 20px;
        padding: 20px 0;
        z-index: 100;
    }
    .test-video{
        width: 100%;
    }
    #register{
        position: relative;
        width: 100%;
        height: 270px;
        background: url('background3.jpg') rgba(0, 0, 0, 0.3);
        background-blend-mode: multiply;
        background-position: center;
        background-size: cover;
        overflow: hidden;
        font-weight: bold;
        padding-bottom: 20px;
    }
 }

/* @media (min-width: 768px) { ... }


@media (min-width: 992px) { ... }

@media (min-width: 1200px) { ... } */